.App {
  text-align: center;
}

@media (max-width: 360px) {
  body {
      font-size: 14px;
  }
  .container {
      padding: 10px;
  }
}

img, video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  /* display: block */
}

